<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time table</title>
</head>
<body>
    <h1>CHOOSE TYPE OF TIME TABLE</h1>
        <div>
            <button type="submit"><a href="/home/time_table/mon_morlab_tt">Monday Morning Labs</a></button>
            <br>
            <button type="submit"><a href="/home/time_table/mon_evelab_tt">Monday Evening Labs</a></button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>SHOW TIME TABLES</h1>
            
            <form action="/sec_check" method="POST">
                <select id="sections" name="section"></select>
                <button type="submit" id="but">GO</button>
            </form>

        </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const dd = document.getElementById('sections');
    
        var disabledOption = document.createElement('option');
        disabledOption.value = 'SECTION';
        disabledOption.selected = true;
        disabledOption.setAttribute('disabled', 'disabled');
        disabledOption.text = 'SECTION';
    
        axios.get('/sec',{
        
        })
            .then(response => {
                const options = response.data;
                dd.innerHTML = '';
                dd.appendChild(disabledOption);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.value = option.TABLE_NAME;
                    optionElement.text = option.TABLE_NAME;
                    dd.appendChild(optionElement);
                });
            })
            .catch(error=>{
                console.error('Error: ',error);
            })
    </script>
</body>
</html>