<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
        integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/admin.css">
</head>

<body>
    <header class="tt">
        <a href="/home" class="logo">Teacher's Desk</a>
        <img class="tt_logo2" src="/assets/manipal_logo.png" alt="manipal_logo">
        <div class="toggle">
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/home/time_table">Time Table</a></li>
            <li><a href="/Notes">Notes</a></li>
            <li><a href="/Attainment">Attainment</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </header>
    <br><br><br><br><br><br><br><br><br>
    <div class="faculty">
        <h1>Select:</h1>
        <br>
        <button><a href="/addsec">ADD SECTION</a></button>
        <button><a href="/del_sec">DELETE SECTION</a></button>
        <button><a href="/allot_reg_mir">ALLOT REGULAR OR MIRROR</a></button>
        <button><a href="/allot_rooms">ALLOT ROOMS</a></button>
        <button><a href="/subjectmod">MODIFY SUBJECT</a></button>
        <button><a href="/facultymod">MODIFY FACULTY</a></button>
    
        <button><a href="/roomlabmod">ADD ROOM</a></button>
        <button><a href="/load">CHECK LOAD</a></button>
        <button><a href="/tprefcheck">CHECK THEORY PREFERENCES</a></button>
        <button><a href="/lprefcheck">CHECK LAB PREFERENCES</a></button>
        <button><a href="/showfac">CHECK FACULTY</a></button>
        <button><a href="/showsub">CHECK SUBJECTS</a></button>
        <button onclick="showConfirmation()">CLEAR ALL</button><label id="clearAl"></label>
    </div>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios.get('/req_status',{

    })
        .then(response=>{
            const option = response.data;
            if(option.name==undefined){
                location.href = "/";
            }
        })
        .catch(error=>{
            console.log(error);
        })
</script>

<script>
    const clearA = document.getElementById("clearAl");
    function showConfirmation() {
        var result = confirm("Are you sure you want to clear all data?");
        if (result) {
            clearAll();
        } else {
            alert("Action canceled!");
        }
    }
    function clearAll() {
        axios.get('/sec', {
            params: {
            }
        })
            .then(response => {
                const options = response.data;
                options.forEach(option => {
                    axios.get('/clearRom', {
                        params: {
                            clas: option.TABLE_NAME,
                        }
                    })
                        .then(response => {
                        })
                        .catch(error => {
                            console.error('Error: ', error);
                        })
                });
            })
            .catch(error => {
                console.error('Error: ', error);
            })
        axios.get('/clearall', {
            params: {
            }
        })
            .then(response => {
                clearA.innerHTML = "CLEARED ALL DATA";
            })
            .catch(error => {
                clearA.innerHTML = "ERROR";
                console.error('Error: ', error);
            })
    }
</script>

</html>