<!doctype html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="html1.css"> -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Time Table</title>
</head>

<body>
    <div class="container" style="text-align: center;">
        <h1 class="text-center display-4">Time Table</h1>
        <div class="row">
            <h6 class="col-1 border">DAY</h6>
            <h6 class="col-1 border">08:00-09:00</h6>
            <h6 class="col-1 border">09:00-10:00</h6>
            <h6 class="col-1 border">10:00-10:30</h6>
            <h6 class="col-1 border">10:30-11:30</h6>
            <h6 class="col-1 border">11:30-12:30</h6>
            <h6 class="col-1 border">12:30-01:00</h6>
            <h6 class="col-1 border">01:00-02:00</h6>
            <h6 class="col-1 border">02:00-03:00</h6>
            <h6 class="col-1 border">03:00-03:30</h6>
            <h6 class="col-1 border">03:30-04:30</h6>
            <h6 class="col-1 border">04:30-05:30</h6>
        </div>
        <div class="row">
            <div class="col-1 border">MON-DAY</div>
            <div class="col-1 border" id="s1-1">SUB-1</div>
            <div class="col-1 border" id="s2-1">SUB-2</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s3-1">SUB-3</div>
            <div class="col-1 border" id="s4-1">SUB-4</div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col border">
                <div id="l1-1">LAB-1-1</div>
                <div id="l1-2">LAB-1-2</div>
            </div>
            <div class="col-6-3qtr border">Empty</div>
        </div>
        <div class="row">
            <div class="col-1 border">TUES-DAY</div>
            <div class="col-6-3qtr border">Empty</div>
            <div class="col border">
                <div id="l2-1">LAB-2-1</div>
                <div id="l2-2">LAB-2-2</div>
            </div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col-1 border" id="s5-1">SUB-5</div>
            <div class="col-1 border" id="s6-1">SUB-6</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s1-2">SUB-1</div>
            <div class="col-1 border" id="s2-2">SUB-2</div>
        </div>
        <div class="row">
            <div class="col-1 border">WEDNES-DAY</div>
            <div class="col-1 border" id="s3-2">SUB-3</div>
            <div class="col-1 border" id="s4-2">SUB-4</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s5-2">SUB-5</div>
            <div class="col-1 border" id="s6-2">SUB-6</div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col border">
                <div id="l3-1">LAB-3-1</div>
                <div id="l3-2">LAB-3-2</div>
            </div>
            <div class="col-6-3qtr border">Empty</div>
        </div>
        <div class="row">
            <div class="col-1 border">THURS-DAY</div>
            <div class="col-6-3qtr border">Empty</div>
            <div class="col border">
                <div id="l4-1">LAB-4-1</div>
                <div id="l4-2">LAB-4-2</div>
            </div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col-1 border" id="s1-3">SUB-1</div>
            <div class="col-1 border" id="s2-3">SUB-2</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s3-3">SUB-3</div>
            <div class="col-1 border" id="s4-3">SUB-4</div>
        </div>
        <div class="row">
            <div class="col-1 border">FRI--DAY</div>
            <div class="col-1 border" id="s5-3">SUB-5</div>
            <div class="col-1 border" id="s6-3">SUB-6</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s1-4">SUB-1</div>
            <div class="col-1 border" id="s2-4">SUB-2</div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col border">
                <div id="l5-1">LAB-5-1</div>
                <div id="l5-2">LAB-5-2</div>
            </div>
            <div class="col-6-3qtr border">Empty</div>
        </div>
        <div class="row">
            <div class="col-1 border">SATUR-DAY</div>
            <div class="col-6-3qtr border">Empty</div>
            <div class="col border">
                <div id="l6-1">LAB-6-1</div>
                <div id="l6-2">LAB-6-2</div>
            </div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col-1 border" id="s3-4">SUB-3</div>
            <div class="col-1 border" id="s4-4">SUB-4</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s5-4">SUB-5</div>
            <div class="col-1 border" id="s6-4">SUB-6</div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <br>
    <select name="Subject-1" id="Subject1">
        <option value="" disabled selected>Subject-1</option>
    </select>
    <button onclick="myFunction1()">Go</button>
    <select name="Faculty" id="Faculty1">
        <option value="" disabled selected>Faculty-1</option>
    </select>

    <button onclick="" id="rset1">RESET</button>

    <br>
    <select name="Subject-2" id="Subject2">
        <option value="" disabled selected>Subject-2</option>
    </select>
    <button onclick="myFunction2()">Go</button>
    <select name="Faculty" id="Faculty2">
        <option value="" disabled selected>Faculty-2</option>
    </select>
    <button onclick="" id="rset1">RESET</button>

    <script>
        function myFunction2() {
            var x = document.getElementById("Subject2");
            document.getElementById("s2-1").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s2-2").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s2-3").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s2-4").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <br>
    <select name="Subject-3" id="Subject3">
        <option value="" disabled selected>Subject-3</option>
    </select>
    <button onclick="myFunction3()">Go</button>
    <select name="Faculty" id="Faculty3">
        <option value="" disabled selected>Faculty-3</option>
    </select>
    <button onclick="" id="rset1">RESET</button>

    <script>
        function myFunction3() {
            var x = document.getElementById("Subject3");
            document.getElementById("s3-1").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s3-2").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s3-3").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s3-4").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <br>
    <select name="Subject-4" id="Subject4">
        <option value="" disabled selected>Subject-4</option>
    </select>
    <button onclick="myFunction4()">Go</button>
    <select name="Faculty" id="Faculty4">
        <option value="" disabled selected>Faculty-4</option>
    </select>
    <button onclick="" id="rset1">RESET</button>
    <script>
        function myFunction4() {
            var x = document.getElementById("Subject4");
            document.getElementById("s4-1").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s4-2").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s4-3").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s4-4").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <br>
    <select name="Subject-5" id="Subject5">
        <option value="" disabled selected>Subject-5</option>
    </select>
    <button onclick="myFunction5()">Go</button>
    <select name="Faculty" id="Faculty5">
        <option value="" disabled selected>Faculty-5</option>
    </select>
    <button onclick="" id="rset1">RESET</button>
    <script>
        function myFunction5() {
            var x = document.getElementById("Subject5");
            document.getElementById("s5-1").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s5-2").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s5-3").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s5-4").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <br>
    <select name="Subject-6" id="Subject6">
        <option value="" disabled selected>Subject-6</option>
    </select>
    <button onclick="myFunction6()">Go</button>
    <select name="Faculty" id="Faculty6">
        <option value="" disabled selected>Faculty-6</option>
    </select>
    <button onclick="" id="rset1">RESET</button>
    <script>
        function myFunction6() {
            var x = document.getElementById("Subject6");
            document.getElementById("s6-1").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s6-2").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s6-3").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s6-4").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <br>
    <select name="Lab-1-1" id="Lab-1-1">
    </select>
    <button onclick="myFunctionl11()">Go</button>
    <select name="Faculty" id="LabFaculty11">
        <option value="" disabled selected>Faculty-1-1</option>
    </select>
    <button onclick="" id="rset1">RESET</button>
    <script>
        function myFunctionl11() {
            var x = document.getElementById("Lab-1-1");
            document.getElementById("l1-1").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <select name="Lab-1-2" id="Lab-1-2">
    </select>
    <button onclick="myFunctionl12()">Go</button>
    <select name="Faculty" id="LabFaculty12">
        <option value="" disabled selected>Faculty-1-2</option>
    </select>
    <button onclick="" id="rset1">RESET</button>
    <script>
        function myFunctionl12() {
            var x = document.getElementById("Lab-1-2");
            document.getElementById("l1-2").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>

    <br>
    <select name="Lab-2-1" id="Lab-2-1">
    </select>
    <button onclick="myFunctionl21()">Go</button>
    <select name="Faculty" id="LabFaculty21">
        <option value="" disabled selected>Faculty-2-1</option>
    </select>
    <button onclick="" id="rset1">RESET</button>
    <script>
        function myFunctionl21() {
            var x = document.getElementById("Lab-2-1");
            document.getElementById("l2-1").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <select name="Lab-2-2" id="Lab-2-2">
    </select>
    <button onclick="myFunctionl22()">Go</button>
    <script>
        function myFunctionl22() {
            var x = document.getElementById("Lab-2-2");
            document.getElementById("l2-2").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <select name="Faculty" id="LabFaculty22">
        <option value="" disabled selected>Faculty-2-2</option>
    </select>
    <button onclick="" id="rset1">RESET</button>

    <button onclick="" id ="save">SAVE TIME TABLE</button>
    <label id='pop'></label>

    <br>
    <select name="Lab-3-1" id="Lab-3-1">
    </select>
    <button onclick="myFunctionl31()">Go</button>
    <select name="Faculty" id="LabFaculty31">
        <option value="" disabled selected>Faculty-3-1</option>
    </select>
    <button onclick="" id="rset1">RESET</button>
    <script>
        function myFunctionl31() {
            var x = document.getElementById("Lab-3-1");
            document.getElementById("l3-1").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <select name="Lab-3-2" id="Lab-3-2">
    </select>
    <button onclick="myFunctionl32()">Go</button>
    <script>
        function myFunctionl32() {
            var x = document.getElementById("Lab-3-2");
            document.getElementById("l3-2").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <select name="Faculty" id="LabFaculty32">
        <option value="" disabled selected>Faculty-3-2</option>
    </select>
    <button onclick="" id="rset1">RESET</button>

    <br>
    <select name="Lab-4-1" id="Lab-4-1">
    </select>
    <button onclick="myFunctionl41()">Go</button>
    <select name="Faculty" id="LabFaculty41">
        <option value="" disabled selected>Faculty-4-1</option>
    </select>
    <button onclick="" id="rset1">RESET</button>
    <script>
        function myFunctionl41() {
            var x = document.getElementById("Lab-4-1");
            document.getElementById("l4-1").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <select name="Lab-4-2" id="Lab-4-2">
    </select>
    <button onclick="myFunctionl42()">Go</button>
    <script>
        function myFunctionl42() {
            var x = document.getElementById("Lab-4-2");
            document.getElementById("l4-2").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <select name="Faculty" id="LabFaculty42">
        <option value="" disabled selected>Faculty-4-2</option>
    </select>
    <button onclick="" id="rset1">RESET</button>

    <br>
    <select name="Lab-5-1" id="Lab-5-1">
    </select>
    <button onclick="myFunctionl51()">Go</button>
    <select name="Faculty" id="LabFaculty51">
        <option value="" disabled selected>Faculty-5-1</option>
    </select>
    <button onclick="" id="rset1">RESET</button>
    <script>
        function myFunctionl51() {
            var x = document.getElementById("Lab-5-1");
            document.getElementById("l5-1").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <select name="Lab-5-2" id="Lab-5-2">
    </select>
    <button onclick="myFunctionl52()">Go</button>
    <script>
        function myFunctionl52() {
            var x = document.getElementById("Lab-5-2");
            document.getElementById("l5-2").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <select name="Faculty" id="LabFaculty52">
        <option value="" disabled selected>Faculty-5-2</option>
    </select>
    <button onclick="" id="rset1">RESET</button>

    <br>
    <select name="Lab-6-1" id="Lab-6-1">
    </select>
    <button onclick="myFunctionl61()">Go</button>
    <select name="Faculty" id="LabFaculty61">
        <option value="" disabled selected>Faculty-6-1</option>
    </select>
    <button onclick="" id="rset1">RESET</button>
    <script>
        function myFunctionl61() {
            var x = document.getElementById("Lab-6-1");
            document.getElementById("l6-1").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <select name="Lab-6-2" id="Lab-6-2">
    </select>
    <button onclick="myFunctionl62()">Go</button>
    <script>
        function myFunctionl62() {
            var x = document.getElementById("Lab-6-2");
            document.getElementById("l6-2").innerHTML = x.options[x.selectedIndex].value;
        }
    </script>
    <select name="Faculty" id="LabFaculty62">
        <option value="" disabled selected>Faculty-6-2</option>
    </select>
    <button onclick="" id="rset1">RESET</button>
    <br>
    <br>
    <br>
    <br>
    <input type="text" id="val11" value="Theory Confirm" readonly>
    <button id="cnf1">CONFIRM</button>
    <br>
    <br>
    <input type="text" id="val12" value="Lab Confirm" readonly>
    <button id="cnf2">CONFIRM</button>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        //subjects
        const d1 = document.getElementById('Subject1');
        const d2 = document.getElementById('Subject2');
        const d3 = document.getElementById('Subject3');
        const d4 = document.getElementById('Subject4');
        const d5 = document.getElementById('Subject5');
        const d6 = document.getElementById('Subject6');
        //subject-faculties
        const dd1 = document.getElementById('Faculty1');
        const dd2 = document.getElementById('Faculty2');
        const dd3 = document.getElementById('Faculty3');
        const dd4 = document.getElementById('Faculty4');
        const dd5 = document.getElementById('Faculty5');
        const dd6 = document.getElementById('Faculty6');
        //labs
        const l11 = document.getElementById('Lab-1-1');
        const l12 = document.getElementById('Lab-1-2');
        const l21 = document.getElementById('Lab-2-1');
        const l22 = document.getElementById('Lab-2-2');
        const l31 = document.getElementById('Lab-3-1');
        const l32 = document.getElementById('Lab-3-2');
        const l41 = document.getElementById('Lab-4-1');
        const l42 = document.getElementById('Lab-4-2');
        const l51 = document.getElementById('Lab-5-1');
        const l52 = document.getElementById('Lab-5-2');
        const l61 = document.getElementById('Lab-6-1');
        const l62 = document.getElementById('Lab-6-2');
        //lab-faculties
        const ld11 = document.getElementById('LabFaculty11');
        const ld21 = document.getElementById('LabFaculty21');
        const ld31 = document.getElementById('LabFaculty31');
        const ld41 = document.getElementById('LabFaculty41');
        const ld51 = document.getElementById('LabFaculty51');
        const ld61 = document.getElementById('LabFaculty61');
        const ld12 = document.getElementById('LabFaculty12');
        const ld22 = document.getElementById('LabFaculty22');
        const ld32 = document.getElementById('LabFaculty32');
        const ld42 = document.getElementById('LabFaculty42');
        const ld52 = document.getElementById('LabFaculty52');
        const ld62 = document.getElementById('LabFaculty62');

        var disabledOption1 = document.createElement('option');
        disabledOption1.value = '';
        disabledOption1.selected = true;
        disabledOption1.setAttribute('disabled', 'disabled');
        disabledOption1.text = 'SUBJECT 1';
        var disabledOption2 = document.createElement('option');
        disabledOption2.value = '';
        disabledOption2.selected = true;
        disabledOption2.setAttribute('disabled', 'disabled');
        disabledOption2.text = 'SUBJECT 2';
        var disabledOption3 = document.createElement('option');
        disabledOption3.value = '';
        disabledOption3.selected = true;
        disabledOption3.setAttribute('disabled', 'disabled');
        disabledOption3.text = 'SUBJECT 3';
        var disabledOption4 = document.createElement('option');
        disabledOption4.value = '';
        disabledOption4.selected = true;
        disabledOption4.setAttribute('disabled', 'disabled');
        disabledOption4.text = 'SUBJECT 4';
        var disabledOption5 = document.createElement('option');
        disabledOption5.value = '';
        disabledOption5.selected = true;
        disabledOption5.setAttribute('disabled', 'disabled');
        disabledOption5.text = 'SUBJECT 5';
        var disabledOption6 = document.createElement('option');
        disabledOption6.value = '';
        disabledOption6.selected = true;
        disabledOption6.setAttribute('disabled', 'disabled');
        disabledOption6.text = 'SUBJECT 6';
        var disabledOption7 = document.createElement('option');
        disabledOption7.value = '';
        disabledOption7.selected = true;
        disabledOption7.setAttribute('disabled', 'disabled');
        disabledOption7.text = 'LAB 1-1';
        var disabledOption8 = document.createElement('option');
        disabledOption8.value = '';
        disabledOption8.selected = true;
        disabledOption8.setAttribute('disabled', 'disabled');
        disabledOption8.text = 'LAB 1-2';
        var disabledOption9 = document.createElement('option');
        disabledOption9.value = '';
        disabledOption9.selected = true;
        disabledOption9.setAttribute('disabled', 'disabled');
        disabledOption9.text = 'LAB 2-1';
        var disabledOption10 = document.createElement('option');
        disabledOption10.value = '';
        disabledOption10.selected = true;
        disabledOption10.setAttribute('disabled', 'disabled');
        disabledOption10.text = 'LAB 2-2';
        var disabledOption11 = document.createElement('option');
        disabledOption11.value = '';
        disabledOption11.selected = true;
        disabledOption11.setAttribute('disabled', 'disabled');
        disabledOption11.text = 'LAB 3-1';
        var disabledOption12 = document.createElement('option');
        disabledOption12.value = '';
        disabledOption12.selected = true;
        disabledOption12.setAttribute('disabled', 'disabled');
        disabledOption12.text = 'LAB 3-2';
        var disabledOption13 = document.createElement('option');
        disabledOption13.value = '';
        disabledOption13.selected = true;
        disabledOption13.setAttribute('disabled', 'disabled');
        disabledOption13.text = 'LAB 4-1';
        var disabledOption14 = document.createElement('option');
        disabledOption14.value = '';
        disabledOption14.selected = true;
        disabledOption14.setAttribute('disabled', 'disabled');
        disabledOption14.text = 'LAB 4-2';
        var disabledOption15 = document.createElement('option');
        disabledOption15.value = '';
        disabledOption15.selected = true;
        disabledOption15.setAttribute('disabled', 'disabled');
        disabledOption15.text = 'LAB 5-1';
        var disabledOption16 = document.createElement('option');
        disabledOption16.value = '';
        disabledOption16.selected = true;
        disabledOption16.setAttribute('disabled', 'disabled');
        disabledOption16.text = 'LAB 5-2';
        var disabledOption17 = document.createElement('option');
        disabledOption17.value = '';
        disabledOption17.selected = true;
        disabledOption17.setAttribute('disabled', 'disabled');
        disabledOption17.text = 'LAB 6-1';
        var disabledOption18 = document.createElement('option');
        disabledOption18.value = '';
        disabledOption18.selected = true;
        disabledOption18.setAttribute('disabled', 'disabled');
        disabledOption18.text = 'LAB 6-2';

        
        axios.get('/subs', {

        })
            .then(response => {
                const options = response.data;
                d1.innerHTML = '';
                d1.appendChild(disabledOption1);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    d1.appendChild(optionElement);
                });
                d2.innerHTML = '';
                d2.appendChild(disabledOption2);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    d2.appendChild(optionElement);
                });
                d3.innerHTML = '';
                d3.appendChild(disabledOption3);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    d3.appendChild(optionElement);
                });
                d4.innerHTML = '';
                d4.appendChild(disabledOption4);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    d4.appendChild(optionElement);
                });
                d5.innerHTML = '';
                d5.appendChild(disabledOption5);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    d5.appendChild(optionElement);
                });
                d6.innerHTML = '';
                d6.appendChild(disabledOption6);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    d6.appendChild(optionElement);
                });
                l11.innerHTML = '';
                l11.appendChild(disabledOption7);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l11.appendChild(optionElement);
                });
                l12.innerHTML = '';
                l12.appendChild(disabledOption8);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l12.appendChild(optionElement);
                });
                l21.innerHTML = '';
                l21.appendChild(disabledOption9);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l21.appendChild(optionElement);
                });
                l22.innerHTML = '';
                l22.appendChild(disabledOption10);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l22.appendChild(optionElement);
                });
                l31.innerHTML = '';
                l31.appendChild(disabledOption11);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l31.appendChild(optionElement);
                });
                l32.innerHTML = '';
                l32.appendChild(disabledOption12);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l32.appendChild(optionElement);
                });
                l41.innerHTML = '';
                l41.appendChild(disabledOption13);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l41.appendChild(optionElement);
                });
                l42.innerHTML = '';
                l42.appendChild(disabledOption14);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l42.appendChild(optionElement);
                });
                l51.innerHTML = '';
                l51.appendChild(disabledOption15);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l51.appendChild(optionElement);
                });
                l52.innerHTML = '';
                l52.appendChild(disabledOption16);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l52.appendChild(optionElement);
                });
                l61.innerHTML = '';
                l61.appendChild(disabledOption17);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l61.appendChild(optionElement);
                });
                l62.innerHTML = '';
                l62.appendChild(disabledOption18);
                options.forEach(option => {
                    const optionElement = document.createElement('option');
                    optionElement.text = option.subject_name;
                    optionElement.value = option.value;
                    l62.appendChild(optionElement);
                });
            })
            .catch(error => {
                console.error('Error: ', error);
            });

        d1.addEventListener('change', () => {
            const selectedValue = d1.value;
            //d1.options[d1.selectedIndex].text;
            const flags = ['mc1', 'ml1', 'tc7', 'tl2', 'thc5', 'fc3', 'fl1'];

            axios.get('/options', {
                params: {
                    selectedValue: selectedValue,
                    flags: flags
                    //x:selectedvalue
                }
            })
                .then(response => {
                    const options = response.data;

                    // Clear existing options
                    dd1.innerHTML = '';
                    // Populate second dropdown with new options
                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        dd1.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        d2.addEventListener('change', () => {
            const selectedValue = d2.value;
            const flags = ['mc2', 'ml1', 'tc8', 'tl2', 'thc6', 'thl2', 'fc4'];

            axios.get('/options', {
                params: {
                    selectedValue: selectedValue,
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;

                    // Clear existing options
                    dd2.innerHTML = '';

                    // Populate second dropdown with new options
                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        dd2.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        d3.addEventListener('change', () => {
            const selectedValue = d3.value;
            const flags = ['mc3', 'ml1', 'wc1', 'wl1', 'thl2', 'thc7', 'sc5'];

            axios.get('/options', {
                params: {
                    selectedValue: selectedValue,
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;

                    // Clear existing options
                    dd3.innerHTML = '';

                    // Populate second dropdown with new options
                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        dd3.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
        d4.addEventListener('change', () => {
            const selectedValue = d4.value;
            const flags = ['mc4', 'wc2', 'wl1', 'thc8', 'thl2', 'sc6', 'sl2'];

            axios.get('/options', {
                params: {
                    selectedValue: selectedValue,
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;

                    // Clear existing options
                    dd4.innerHTML = '';

                    // Populate second dropdown with new options
                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        dd4.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
        d5.addEventListener('change', () => {
            const selectedValue = d5.value;
            const flags = ['tc5', 'wl1', 'wc3', 'fc1', 'fl1', 'sc7', 'sl2']

            axios.get('/options', {
                params: {
                    selectedValue: selectedValue,
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;

                    // Clear existing options
                    dd5.innerHTML = '';

                    // Populate second dropdown with new options
                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        dd5.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
        d6.addEventListener('change', () => {
            const selectedValue = d6.value;
            const flags = ['tc6', 'tl2', 'wc4', 'fc2', 'fl1', 'sl2', 'sc8'];

            axios.get('/options', {
                params: {
                    selectedValue: selectedValue,
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;

                    // Clear existing options
                    dd6.innerHTML = '';

                    // Populate second dropdown with new options
                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        dd6.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        l11.addEventListener('change', () => {
            const flags = ['mc6', 'mc7', 'mc8', 'ml2'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld11.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld11.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });
        l12.addEventListener('change', () => {
            const flags = ['mc6', 'mc7', 'mc8', 'ml2'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld12.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld12.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });
        l21.addEventListener('change', () => {
            const flags = ['tc1', 'tc2', 'tc3', 'tl1'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld21.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld21.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });
        l22.addEventListener('change', () => {
            const flags = ['tc1', 'tc2', 'tc3', 'tl1'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld22.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld22.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });
        l31.addEventListener('change', () => {
            const flags = ['wc6', 'wc7', 'wc8', 'wl2'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld31.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld31.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });
        l32.addEventListener('change', () => {
            const flags = ['wc6', 'wc7', 'wc8', 'wl2'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld32.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld32.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });
        l41.addEventListener('change', () => {
            const flags = ['thc1', 'thc2', 'thc3', 'thl1'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld41.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld41.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });
        l42.addEventListener('change', () => {
            const flags = ['thc1', 'thc2', 'thc3', 'thl1'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld42.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld42.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });
        l51.addEventListener('change', () => {
            const flags = ['fc6', 'fc7', 'fc8', 'fl2'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld51.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld51.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });
        l52.addEventListener('change', () => {
            const flags = ['fc6', 'fc7', 'fc8', 'fl2'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld52.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld52.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });
        l61.addEventListener('change', () => {
            const flags = ['sc1', 'sc2', 'sc3', 'sl1'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld61.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld61.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });
        l62.addEventListener('change', () => {
            const flags = ['sc1', 'sc2', 'sc3', 'sl1'];
            axios.get('/laboptions', {
                params: {
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;
                    ld62.innerHTML = '';

                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.text = option.name;
                        ld62.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        });

        const b1 = document.getElementById('cnf1');
        const val1 = document.getElementById('val11');
        b1.addEventListener('click', () => {
            const fac1 = dd1.options[dd1.selectedIndex].text;
            const fac2 = dd2.options[dd2.selectedIndex].text;
            const fac3 = dd3.options[dd3.selectedIndex].text;
            const fac4 = dd4.options[dd4.selectedIndex].text;
            const fac5 = dd5.options[dd5.selectedIndex].text;
            const fac6 = dd6.options[dd6.selectedIndex].text;

            const f1 = ['mc1', 'tc7', 'thc5', 'fc3'];
            const f2 = ['mc2', 'tc8', 'thc6', 'fc4'];
            const f3 = ['mc3', 'wc1', 'thc7', 'sc5'];
            const f4 = ['mc4', 'wc2', 'thc8', 'sc6'];
            const f5 = ['tc5', 'wc3', 'fc1', 'sc7'];
            const f6 = ['tc6', 'wc4', 'fc2', 'sc8'];

            const faculty = [fac1, fac2, fac3, fac4, fac5, fac6];
            const flags = [f1, f2, f3, f4, f5, f6];
            axios.get('/facultyconfirm', {
                params: {
                    faculty: faculty,
                    flags: flags
                }
            })
                .then(response => {
                    const option = response.data;
                    val1.value = 'success';
                })
                .catch(error=>{
                    console.error('Error: ',error);
                });
        });

        const b2 = document.getElementById('cnf2');
        const val2 = document.getElementById('val12');
        b2.addEventListener('click',()=>{
            const lfac11 = ld11.options[ld11.selectedIndex].text;
            const lfac21 = ld21.options[ld21.selectedIndex].text;
            const lfac31 = ld31.options[ld31.selectedIndex].text;
            const lfac41 = ld41.options[ld41.selectedIndex].text;
            const lfac51 = ld51.options[ld51.selectedIndex].text;
            const lfac61 = ld61.options[ld61.selectedIndex].text;
            const lfac12 = ld12.options[ld12.selectedIndex].text;
            const lfac22 = ld22.options[ld22.selectedIndex].text;
            const lfac32 = ld32.options[ld32.selectedIndex].text;
            const lfac42 = ld42.options[ld42.selectedIndex].text;
            const lfac52 = ld52.options[ld52.selectedIndex].text;
            const lfac62 = ld62.options[ld62.selectedIndex].text;

            const lf11 = ['ml2'];
            const lf21 = ['tl1'];
            const lf31 = ['wl2'];
            const lf41 = ['thl1'];
            const lf51 = ['fl2'];
            const lf61 = ['sl1'];
            const lf12 = ['ml2'];
            const lf22 = ['tl1'];
            const lf32 = ['wl2'];
            const lf42 = ['thl1'];
            const lf52 = ['fl2'];
            const lf62 = ['sl1'];

            const faculty = [lfac11, lfac21, lfac31, lfac41, lfac51, lfac61, lfac12, lfac22, lfac32, lfac42, lfac52, lfac62];
            const flags = [lf11, lf21, lf31, lf41, lf51, lf61, lf12, lf22, lf32, lf42, lf52, lf62];
            axios.get('/labfacultyconfirm', {
                params: {
                    faculty: faculty,
                    flags: flags
                }
            })
            .then(response => {
                const option = response.data;
                val2.value='success';
            })
            .catch(error=>{
                console.error('error:', error);
            })
        });
        
        const r1 = document.getElementById('rset1');
        r1.addEventListener('click',()=>{
            const selectedValue = dd1.options[dd1.selectedIndex].text;
            const flags = ['mc1', 'tc7', 'thc5', 'fc3'];

            axios.get('/reset', {
                params: {
                    selectedValue: selectedValue,
                    flags: flags
                }
            })
                .then(response => {
                    const options = response.data;

                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
        function myFunction1() {
            var x = document.getElementById("Subject1");
            document.getElementById("s1-1").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s1-2").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s1-3").innerHTML = x.options[x.selectedIndex].value;
            document.getElementById("s1-4").innerHTML = x.options[x.selectedIndex].value;
        }
        const sv = document.getElementById('save');
        const msg = document.getElementById('pop');

        sv.addEventListener('click',()=>{
            const fac1 = dd1.options[dd1.selectedIndex].text;
            const fac2 = dd2.options[dd2.selectedIndex].text;
            const fac3 = dd3.options[dd3.selectedIndex].text;
            const fac4 = dd4.options[dd4.selectedIndex].text;
            const fac5 = dd5.options[dd5.selectedIndex].text;
            const fac6 = dd6.options[dd6.selectedIndex].text;
            const lfac11 = ld11.options[ld11.selectedIndex].text;
            const lfac21 = ld21.options[ld21.selectedIndex].text;
            const lfac31 = ld31.options[ld31.selectedIndex].text;
            const lfac41 = ld41.options[ld41.selectedIndex].text;
            const lfac51 = ld51.options[ld51.selectedIndex].text;
            const lfac61 = ld61.options[ld61.selectedIndex].text;
            const lfac12 = ld12.options[ld12.selectedIndex].text;
            const lfac22 = ld22.options[ld22.selectedIndex].text;
            const lfac32 = ld32.options[ld32.selectedIndex].text;
            const lfac42 = ld42.options[ld42.selectedIndex].text;
            const lfac52 = ld52.options[ld52.selectedIndex].text;
            const lfac62 = ld62.options[ld62.selectedIndex].text;
            const f = [fac1,fac2,fac3,fac4,fac5,fac6,lfac11, lfac21, lfac31, lfac41, lfac51, lfac61, lfac12, lfac22, lfac32, lfac42, lfac52, lfac62];
            
            const s1 = d1.options[d1.selectedIndex].text;
            const s2 = d2.options[d2.selectedIndex].text;
            const s3 = d3.options[d3.selectedIndex].text;
            const s4 = d4.options[d4.selectedIndex].text;
            const s5 = d5.options[d5.selectedIndex].text;
            const s6 = d6.options[d6.selectedIndex].text;
            const s7 = l11.options[l11.selectedIndex].text;
            const s8 = l21.options[l21.selectedIndex].text;
            const s9 = l31.options[l31.selectedIndex].text;
            const s10 = l41.options[l41.selectedIndex].text;
            const s11 = l51.options[l51.selectedIndex].text;
            const s12 = l61.options[l61.selectedIndex].text;
            const s13 = l12.options[l12.selectedIndex].text;
            const s14 = l22.options[l22.selectedIndex].text;
            const s15 = l32.options[l32.selectedIndex].text;
            const s16 = l42.options[l42.selectedIndex].text;
            const s17 = l52.options[l52.selectedIndex].text;
            const s18 = l62.options[l62.selectedIndex].text;

            const sub = [s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13,s14,s15,s16,s17,s18];
            const sform = [document.getElementById("s1-1").innerHTML,
                           document.getElementById("s2-1").innerHTML, 
                           document.getElementById("s3-1").innerHTML, 
                           document.getElementById("s4-1").innerHTML,
                           document.getElementById("s5-1").innerHTML,
                           document.getElementById("s6-1").innerHTML,
                           document.getElementById("l1-1").innerHTML,
                           document.getElementById("l1-2").innerHTML,
                           document.getElementById("l2-1").innerHTML,
                           document.getElementById("l2-2").innerHTML,
                           document.getElementById("l3-1").innerHTML,
                           document.getElementById("l3-2").innerHTML,
                           document.getElementById("l4-1").innerHTML,
                           document.getElementById("l4-2").innerHTML,
                           document.getElementById("l5-1").innerHTML,
                           document.getElementById("l5-2").innerHTML,
                           document.getElementById("l6-1").innerHTML,
                           document.getElementById("l6-2").innerHTML];
            axios.get('/save',{
                params:{
                    faculty:f,
                    subs:sub,
                    sform:sform
                }
            })
                .then(response=>{
                    const options = response.data;
                    msg.innerHTML = 'Success';
                })
                .catch(error=>{
                    console.error('Error :',error);
                });
        });
    </script>
</body>

</html>